@import '../../../styles/functions/functions';

.hero-block {
  position: absolute;
  color: $white;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  h1, h2, h3, h4, h5, h6 {
    color: $white;
    text-align: center;
  }

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(to bottom,transparent 0,rgba(0,0,0,.5) 100%);
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    // transition: all 0.4s;
  }

  &__container {
    width: 100%;
    margin-top: 30px;
    z-index: 1;
  }

  .row {
    width: 100%;
  }

  &__title {
    letter-spacing: -2px;
  }

  &__label {
    font-size: rem(18);
    display: inline-block;
    padding-top: 8px;
    line-height: 1;
    border-top: 2px solid #fff;
    font-weight: 700;
    margin-top: 15px;
    text-transform: uppercase;
    margin: 0 auto;
  }

  &__extra {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-container {
      position: absolute;
      width: 100%;
      bottom: 8%;
    }

    &-item {
      font-size: rem(18);
      font-family: $primary-font;
      color: $font-color;
      text-transform: uppercase;
      font-weight: 400;
      strong {
        font-weight: 700;
        color: $white;
      }
    }
  }
}