@import '../../../styles/functions/functions';

.section-block {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  &__title {
    text-align: center;
  }

  .align-center {
    text-align: center;
  }

  &.section--full-width {
    width: 100%;
    padding: 40px 0;
    margin-bottom: 0;

    @include breakpoint(medium) {
      padding: 60px 0;
    }
  }

  &.section--dark {
    background-color: $primary-color;
    color: $white;

    .section-block__title {
      color: $white;
    }
  }

  @include breakpoint(medium) {
    margin-bottom: 50px;
  }
}