// COLORS
$gray-light: #fefefe;
$primary-color: #1c1d25;
$white: #ffffff;
$black: #000000;
$font-color: #8D8D8D;

// CONSTANTS
$container-width: 1200;
$column-gutter: 20;

// FONTS
$font-family-sans-serif: 'Open Sans', "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$font-family-title: 'Montserrat', "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$primary-font: $font-family-title;
$secondary-font: $font-family-sans-serif;