@import '../../../styles/functions/functions';
.work-experience {
  position: relative;
  min-height: 300px;
}

.work-experience__item {
  margin: 1rem 0 3rem;
  padding-left: 20px;
  border-left: 1px solid $primary-color;
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #1C1D25;
    position: absolute;
    top: -3px;
    left: -12.5px;
    border: 5px solid $white;
  }

  &-company {
    text-transform: uppercase;
    margin-bottom: rem(5);
  }

  &-date {
    color: $font-color;
  }
}